<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Group Chat</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>​
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/main.js"></script>
</head>
<body>
	<div class="container">
		<div id="error"></div>
		<h1>Conversation Board</h1>
		
		<div id="chat_room" class="col-xs-12">
			<ul id="message_board"></ul>
		</div>
		<div id="msg" class="col-xs-12">
			<form id="new_message" class="form-horizontal">
				<div class="form-group">
					<div class="input-group">
						<input type="text" id="message" class="form-control" placeholder="Enter your message here" autofocus>
						<span class="input-group-btn">
							<input type="submit" value="Send" class="btn btn-success">
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>